/* ===== Tabla de Contenidos ===== */

/* x. - Colores y Fuentes
   1. Background
   2. Header
   3. Layout
   4. Contenido de Sidenavs + Contenido de panel de Logeo, Busqueda de Clientes + Contenido de CarouselMedio e Información de Usuario
    4a.-Content / Sidenav - Index
    4b.-Content / Sidenav - Home
    4c.-Content / Sidenav - InfoClients+Resumen+Gestiones+Para Ventas
    4d.-Content / Middle-StartCarousel
    4e.-Content / MiddleUserInfo
    4f.-Content / RightLoginPanel
    4g.-Content / RightSearchClient
    4h.-Formularios / Index + Home
    4i.-Formularios / Logged
    4j.-Para Ventas / Index + Home
    4k.-Para Ventas / Logged
    4l.-Nuevo Cliente / Index y Home
   5. Contenido despues de Logeo exitoso, de todas las pestañas InfoClients + Resumen + Gestiones + Para Ventas
    5a.-Info-Cliente 
    5b.-Resumen
    5c.-Gestiones
    5d.-Detalles de Gestiones
   6. Footer 
   7. MediaQuerys
*/

/* COMIENZO DE CODIGO FINAL */

/* =========================================================================================== */
/*                                                                                             */
/*                                    x.Colores y Fuentes                                      */
/*                                                                                             */
/* =========================================================================================== */

:root {
    --rojo-afp: #D7282F;
    --blanco-afp: #ffffff;
    --gris-afp: #606060;
    --rojob-afp : #B2292E;
    --grisb-afp: #76777A;
  }


@font-face {
      font-family: 'neo-sans';
      src: url('/fonts/NeoSans.woff2') format('woff2'),
          url('/fonts/NeoSans.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
    font-family: 'neo-sans-bold';
    src: url('/fonts/NeoSans-Bold.woff2') format('woff2'),
        url('/fonts/NeoSans-Bold.woff') format('woff'),
        url('/fonts/NeoSanBol.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'neo-sans-medium';
    src: url('/fonts/NeoSans-Medium.woff2') format('woff2'),
        url('/fonts/NeoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'neo-sans-black';
    src: url('/fonts/NeoSans-Black.woff2') format('woff2'),
        url('/fonts/NeoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.neo-400 {
    font-family: 'neo-sans' sans-serif;
    font-weight: normal;
    font-style: normal;
}


.neo-500 {
    font-family: 'neo-sans-medium' sans-serif;
    font-weight: 500;
    font-style: normal;
}

.neo-700 {
    font-family: 'neo_sansbold' sans-serif;
    font-weight: 700;
    font-style: normal;
}

.neo-900 {
    font-family: 'neo-sans-black' sans-serif;
    font-weight: 900;
    font-style: normal;
}


/* 
.header {
    border:1px solid black;
}


.footer {
    border:1px solid black;
}

*/

/* =========================================================================================== */
/*                                                                                             */
/*                                    1.-BACKGROUND                                            */
/*                                                                                             */
/* =========================================================================================== */

.wrapper::before {
    background-image: url(../images/bgbody.jpg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 1;
}
    
.wrapper::after {
    background-color: var(--gris-afp);
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.side-nav,
.info-2 {
    background-color: var(--blanco-afp);
    border-radius: 19px;
}

.side-nav {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.side-navc {
    background-color: var(--blanco-afp);
    border-radius: 19px;
}

.info-2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.info-1 {
    background-color: var(--rojo-afp);
    border-radius: 19px;
}

.info-3 {
     background-color: var(--blanco-afp);
     border-radius: 19px;
}

.info-4 {
    background-color: var(--blanco-afp);
    border-radius: 19px;
}

.side-navb {
    background-color: var(--rojo-afp);
    border-radius: 19px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* =========================================================================================== */
/*                                                                                             */
/*                                     2.-HEADER                                               */
/*                                                                                             */
/* =========================================================================================== */

.header-index {
    height: 120px;
}

/* =========================================================================================== */
/*                                                                                             */
/*                                     3.-LAYOUT                                               */
/*                                                                                             */
/* =========================================================================================== */

.wrapper {
    height: 984px;
}

.header,
.footer {
    height: 70px;
}

.main-content {
    height: 834px;
}

.side-nav,
.side-navc,
.info-2 {
    height: 600px;
}

.info-1 {
    height: 700px;
    padding: 50px;
}

.info-2 {
    padding: 50px;
}

.info-3 {
    height: 650px;
}

.info-4 {
    height: 750px;
    margin-left: -40px;
}

.side-navb {
     height: 850px;
}

input.form-control {
    border-radius: 9px;
}

.form-control,
.form-control-2,
.form-control-3,
.form-control-4,
.form-control-5 {
    font-family: 'Neo-Sans' sans-serif;
    font-weight: normal;
}

.headerb,
.footerb {
    height: 64px;
}

/* =========================================================================================== */
/*                                                                                             */
/*                               4a.-Content / Sidenav - Index                                 */
/*                                                                                             */
/* =========================================================================================== */

.side-nav--logo img{
    margin:10px 0px 0px 30px;
    padding: 0;
}

.navbar {
    margin: 0;
    padding: 0;
}

.side-nav--list li{
    font-size: 22px;
    list-style:none;
    padding: 5px 0px;
}

.side-nav--list a {
    text-decoration: none; 
    color: var(--gris-afp);
}

/*.side-nav--list a:hover {
    font-weight: bold;
}*/

.active-nav {
    box-shadow: 0px 24px 10px -24px rgba(0, 0, 0, 0.50);
    font-weight: bold;
}


  /* =========================================================================================== */
  /*                                                                                             */
  /*                                4b.-Content / Sidenav - Home                                 */
  /*                                                                                             */
  /* =========================================================================================== */

.side-nav--logo {
    margin: 50px 0px 10px 35px;
    padding: 0;
}

.side-nav--logo2 {
    margin: 50px 0px 10px 65px;
    padding: 0;
}

.navbar {
    margin: 0;
    padding: 0;
}

.side-nav--list2 li {
    font-size: 22px;
    list-style: none;
    padding: 5px 0px;

}

.side-nav--list2 a {
    text-decoration: none;
    color: var(--gris-afp);
}

.side-nav--list2 a:hover {
    font-weight: bold;
}

.nav-link.out {
    color: var(--rojob-afp);
}

.exchange-text {
    color: var(--gris-afp);
}

.exchange-text p {
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 14px;
}

.exchangeb img {
   margin-right: 5px;
}

.form-control-3 {
    height: 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--blanco-afp);
    margin-left: 5px;
    background-color:var(--gris-afp);
    border-color: white;
    width: 50px;
}

.active-nav-2 {
    box-shadow: 0px 24px 10px -24px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: red !important;
}


hr.sidenav-d {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--grisb-afp);
    margin: 5px 0px;
    padding: 0;
}

/* =========================================================================================== */
/*                                                                                             */
/*           4c.-Content / Sidenav - InfoClients + Resumen+ Gestiones + Para Ventas            */
/*                                                                                             */
/* =========================================================================================== */

.side-navb {
    padding: 40px;
}

.side-navb--logo {
    margin: 10px 0px 0px 85px;
    padding: 10px;
    width: 45%;
}

.navbar {
    margin: 0;
    padding: 0;
}

.side-navb--list li {
    font-size: 22px;
    list-style: none;
    padding: 15px 0px;
    text-align: center;
}

.side-navb--list a {
    text-decoration: none;
    color: var(--blanco-afp);
}

.side-navb--list a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.exchangeb-text {
    color: var(--blanco-afp);
}

.exchangeb-text p {
    margin-left: 10px;
    margin-bottom: 0px;
}

.form-control-5 {
    margin-left: 10px;
    height: 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: var(--blanco-afp);
    background-color:var(--rojob-afp);
    border-color: white;
    width: 75px;
}

.active-nav-3 {
    box-shadow: 0px 24px 10px -24px rgba(0, 0, 0, 0.50);
    font-weight: bold;
}

hr.sidenav-c {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.5px solid var(--rojob-afp);
    margin: 1em 0;
    padding: 0;
}

.exchange-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

/* =========================================================================================== */
/*                                                                                             */
/*                            4d.-Content / Middle-StartCarousel                               */
/*                                                                                             */
/* =========================================================================================== */

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-item {
    height: 350px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

.carousel-indicators {
    bottom: -50px;
}

div.carousel-inner {
    border-radius: 19px;
}

p.h2 {
    margin: auto;
    font-weight: bold;
}

.p-box0 {
    font-size: 36px;
    color: var(--blanco-afp);
    margin: 40px 0px;
}

/* =========================================================================================== */
/*                                                                                             */
/*                            4e.-Content / MiddleUserInfo                                     */
/*                                                                                             */
/* =========================================================================================== */

.input-userdata {
    padding: 80px;
}

.input-group {
    margin: 5px 0px;
}

.input-userinfo {
    background-color: var(--rojob-afp);
    border: 1px solid var(--rojob-afp);
    color: var(--blanco-afp);
}

.input-userinfo2 {
    background-color: var(--rojoa-afp);
    border: 1px solid var(--rojoa-afp);
    color: var(--blanco-afp);
    font-size: 22px;
}

.form-control-4 {
    width: 305px;
    border-radius: 9px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.375rem 0.75rem;
}

.form-control-2 {
    width: 300px;
    padding: 0.375rem 0px;
}

.side-nav--logo2 img {
    margin-left: 50px;
}


.input-userinfo-icon {
    background-color: var(--rojob-afp);
    border: 1px solid var(--rojob-afp);
}

.p-box3 {
    margin: 130px 10px 40px 10px;
    color: var(--blanco-afp);
    font-size: 32px;
}

div.input-userinfo-icon {
    border-radius: 9px;
}

.input-userinfo-icon2 {
    border-radius: 9px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

div.input-userinfo-icon3 {
    border-radius: 9px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.usergroup {
    margin: 0px 5px; 
}

/* =========================================================================================== */
/*                                                                                             */
/*                            4f.-Content / RightLoginPanel                                    */
/*                                                                                             */
/* =========================================================================================== */
.form-control-customwidth {
    width: 385px;
}

.btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 18px;
    line-height: 1.33;
    margin-left: 340px;
    background-color: var(--gris-afp);
    border-color: var(--gris-afp);
}

.btn-circle.btn-xl:hover {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 18px;
    line-height: 1.33;
    background-color: var(--rojo-afp);
    border-color: var(--rojo-afp);
}

.p-box {
    padding-top: 80px;
    padding-left: 10px;
    font-size: 14px;
    margin: 10px 20px;
    color:var(--gris-afp)
}

.p-box1 {
    color:var(--rojo-afp);
}

.p-box2{
    margin: 20px auto;
    color: var(--gris-afp);
}

.btn-consulta {
    margin: 0px 140px;
    background-color:var(--rojo-afp);
    border: var(--rojo-afp);
}

.btn-consulta:hover {
    margin-left: 140px;
    background-color: var(--gris-afp);
    border: var(--gris-afp);
}

#basic-addon1 {
    background-color: var(--rojo-afp);
    border-radius: 9px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: var(--rojo-afp)
 }

i.fa {
    color: #fff;
}

.consulta {
    margin-top: -50px; 
}

.logintitle {
    margin-top:60px;
}

/* =========================================================================================== */
/*                                                                                             */
/*                            4g.-Content / RightSearchClient                                  */
/*                                                                                             */
/* =========================================================================================== */

.idbox {
    margin: 20px 0px 30px 0px;
}

.idbox-p {
    color: var(--gris-afp);
}

.idsearch {
    margin-top: 3px;
    margin-right: 10px; 
}


.p-box4 {
    color: var(--rojo-afp);
    margin:110px 0px 30px 0px;;
}

.btn-submit-constancia {
   margin: 0px 200px
}

/* =========================================================================================== */
/*                                                                                             */
/*                                4h.-Formularios / Index y Home                               */
/*                                                                                             */
/* =========================================================================================== */

.collap-title {
   height: 200px;
   border-radius: 19px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   padding:75px 75px;
  /* background-color: yellow; */
}


.collap-title-header-b {
    font-size: 36px;
    color: var(--rojo-afp);
    margin: 10px 123px;
}

.collap-title-header-c {
    font-size: 36px;
    color: var(--rojo-afp);
    margin: 10px 129px;
}

.collap-title-header-d {
    font-size: 36px;
    color: var(--rojo-afp);
    margin: 10px 123px;
}

.forms-container {
    /* border:1px solid green; */
    border-radius:19px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 100px 50px;
}

.sidenav-forms {
   padding: 0px;
}

.forms-menu {
    background-color: var(--rojo-afp);
    height:250px;
    border-radius: 19px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    margin: 50px 0;
}

.forms-menu img {
    width: 90%;
    margin: 25px 5px;
}

.forms-menu p {
    color: var(--blanco-afp);
    font-size: 12px;
    margin: 10px 0px;
    margin-top: -25px;
    text-align: center;
    font-weight: bold;
}

.forms-menu a {
    text-decoration: none;
}

.forms-menu img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* =========================================================================================== */
/*                                                                                             */
/*                                4i.-Formularios / Logged                                     */
/*                                                                                             */
/* =========================================================================================== */

.sidenav-forms-b {
    /*  background-color: yellow; */
    border-radius: 19px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-right: 0px;
}

.forms-menu-b {
    background-color: var(--rojo-afp);
    height: 250px;
    border-radius: 19px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    margin: 50px 0;
}

.forms-menu-b img {
    width: 70%;
    margin: 25px 12px;
}

.forms-menu-b p {
    color: var(--blanco-afp);
    font-size: 12px;
    margin: 10px 0px;
    margin-top: -20px;
    text-align: center;
    font-weight: bold;
}

.forms-menu-b a {
    text-decoration: none;
}

.forms-menu-b img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.collap-title-header-e {
    font-size: 36px;
    color: var(--rojo-afp);
    margin: 50px 271px;
}

.collap-title-header-f {
    font-size: 36px;
    color: var(--rojo-afp);
    margin: 50px 264px;
}

/* =========================================================================================== */
/*                                                                                             */
/*                            4j.-Para Ventas / Index y Home                                   */
/*                                                                                             */
/* =========================================================================================== */

.collap-title-header-h {
    font-size: 36px;
    color: var(--rojo-afp);
    margin: 10px 260px;
}

.ventas-container-logged {
    height: 750px;
    border-radius: 19px;
    padding: 40px;
}

/* =========================================================================================== */
/*                                                                                             */
/*                               4k.-Para Ventas / Logged                                      */
/*                                                                                             */
/* =========================================================================================== */

.collap-title-header-g {
    font-size: 36px;
    color: var(--rojo-afp);
    margin: 10px 400px;
}

.ventas-container-logged {
     height: 750px;
     border-radius: 19px;
     padding: 40px;
}


/* =========================================================================================== */
/*                                                                                             */
/*                          4l.-Nuevo Cliente / Index y Home                                   */
/*                                                                                             */
/* =========================================================================================== */


.collap-title-header-i {
    font-size: 36px;
    color: var(--rojo-afp);
    margin: 0px 160px;
    height: 100px;
}

.nuevocliente-container {
    padding: 0;
  /*  background-color: yellow; */
    margin-bottom: 120px;
}

.collap-title-ventas {
    height: 150px;
    padding: 75px 75px;
 /*   background-color: yellow; */
}

.iconset-reduser-3 {
    margin-top: 4px;
    margin-right: 10px;
}

.btn-cliente {
    background: var(--rojo-afp);
    color: var(--blanco-afp);
    margin: 0px 250px;
}



/* =========================================================================================== */
/*                                                                                             */
/*                                   5a.-Info-Cliente                                          */
/*                                                                                             */
/* =========================================================================================== */

.infoclient-container {
    border-radius: 19px;
    padding: 0px 50px 0px 50px;
    /* border: 1px solid black; */
}

.infoclient-input{
   padding: 20px 50px 20px 0px;
   margin: 0px 0px;
}

.client-box {
    padding: 0px 80px;
}

.client-box2 {
    margin-left: 80px;
}

.client-box3 {
    margin-right: 35px;
}

.client-box4 {
    padding: 0px 260px;
}

.sidenav-client {
    /*  background-color: yellow; */
    border-radius: 19px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.clients-menu {
    background-color: var(--rojo-afp);
    height: 320px;
    width: 88px;
    border-radius: 19px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 225px 5px 200px 0px;
}

.clients-menu p {
    color: var(--blanco-afp);
    font-size: 12px;
    margin: 10px 0px;;
    margin-top: -25px;
    text-align: center;
}


.clients-menu img {
    width: 50%;
    margin: 20px 0px 25px 25px;
}

.clients-menu a {
    text-decoration: none;  
}

.clients-menu img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.p-box5 {
    color: var(--rojo-afp);
    margin: 20px 0px 10px 0px;
    font-size: 30px;
}

.iconset-reduser {
    margin-top: 8px;
    margin-right: 10px;
}

.form-control-6 {
   width: 100%;
   padding: 0.375rem 1.75rem;
   font-size: 1.2rem;
   border-radius: 9px;
   color: var(--rojo-afp);
   border: 2px solid var(--rojo-afp);
}


.form-control-7 {
    width: 90%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem;
    font-size: 1rem;
    border-radius: 9px;
    color: var(--gris-afp);
    border: 1px solid var(--gris-afp);
    border-bottom: 1px solid var(--gris-afp);
}

.form-control-7b {
    width: 90%;
    height: calc(3em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem;
    font-size: 1rem;
    border-radius: 9px;
    color: var(--gris-afp);
    border: 1px solid var(--gris-afp);
    border-bottom: 1px solid var(--gris-afp);
}

.editable-buttons {
    background-color:var(--gris-afp);
}

.editable-submit {
    background-color: var(--rojo-afp);
    border-color: var(--rojo-afp)
}

.editable-submit:hover {
    background-color: var(--rojob-afp);
    border-color: var(--rojob-afp);
}

.editable-click,
a.editable-click,
a.editable-click {
    text-decoration: none;
    border-bottom: dashed 1px var(--gris-afp);
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    text-decoration: none;
    border-bottom: dashed 1px var(--rojo-afp);
}

.editable-click.editable-disabled,
a.editable-click.editable-disabled,
a.editable-click.editable-disabled:hover {
    color: var(--gris-afp);
    cursor: default;
    text-decoration: none;
    border-bottom: solid 1px var(--grisb-afp);
}

.modal-footer-borderless {
    border: none;
}


/* =========================================================================================== */
/*                                                                                             */
/*                                   5b.-Resumen-Cliente                                       */
/*                                                                                             */
/* =========================================================================================== */


.table-container {
    padding: 20px 80px 20px 40px;
}

.table-row {
    border: 1px solid #e4e9ea;
    background-color: var(--blanco-afp);
}

.table-row__td {
    margin: 98px;
}

.table__thead th {
    color: var(--grisb-afp);
    font-family: 'NeoSans-Bold'sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 25px;
}

.vl {
    border-left: 2px dashed var(--rojo-afp);
    height: 35px;
}

.vl-2 {
    border-left: 1px solid var(--rojo-afp);
    height: 35px;
    position: absolute;
    left: 12.5%;
    margin-left: -3px;
    top: 158px;
}

.table-row__Numero{
    margin:5px 0px 10px 20px;
    color: var(--rojo-afp);
    font-size: 22px;
}

.table-row__name {
    margin: 10px 0px;
    color: var(--gris-afp);
    font-size: 18px;
}

.table-row__icon img {
    margin: 10px 0px 10px 30px;
}

.table-row__td.context-menu {
    padding-top: 20px;
    padding-right: 30px;
    color: var(--gris-afp);
}

.p-box6 {
    color: var(--rojo-afp);
    margin: 20px 0px 10px 0px;
    padding-right: 70px;
    font-size: 30px;
}

.client-boxc {
    padding: 0px 75px 0px 20px;
    margin: 0px 25px;
}

.dropdown-toggle::after {
    display: none;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.table-row {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

li.page-item a{
    border: 1px solid var(--rojo-afp);
    color: var(--gris-afp);
}

li.page-item a:hover {
    border: 1px solid var(--rojo-afp);
    color: var(--gris-afp);
}

.active-1 {
    background-color:white;
    color: red;
}

.scrolld-1 {
    height: 475px;
    overflow-y: scroll;
}

.canales-act {  
    padding: 0px;
    margin: 0px 75px;
}

.input-userinfo-icon2 {
    background-color: var(--gris-afp);
    border: 1px solid var(--gris-afp);
    height: calc(1.4rem + 0.5rem + 2px);
}

.form-control-8 {
    width: 85%;
    height: calc(1.4rem + 0.5rem + 2px);
    padding: 0.375rem 1.75rem;
    font-size: 1rem;
    color: var(--blanco-afp);
    background-color: var(--gris-afp);
    border: 1px solid var(--gris-afp);
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-control-8b {
    width: 85%;
    height: calc(1.4rem + 0.5rem + 2px);
    padding: 0.375rem 1.75rem;
    margin: 20px 0px;
    font-size: 1rem;
    color: var(--blanco-afp);
    background-color: var(--gris-afp);
    border: 1px solid var(--gris-afp);
    border-radius: 6px;
}

.p-box7{
    color: var(--rojo-afp);
    font-size: 16px;
    margin-top: 50px;
    margin-right: 10px;
}

.iconset-reduser2 {
    margin-top: 26px;
    margin-left:10px; 
    margin-right: 10px;
}

.canales__ovp,
.canales__sms {
    margin: 30px 0;
}

.input-group2 {
    margin-top: 5px;
    width: 100%;
}

.canales__sms {
    width: 380px;
}

.dropmenu {
    margin: 8px 0px;
}

/* MODALS */

div.modal {
    margin:250px 0px; 
}

.p-box8 {
    color: var(--rojo-afp);
    font-weight: 700;
    margin-top: 15px;
    margin-right: 15px;
}

.p-box9 {
    color: var(--gris-afp);
    font-weight: 500;
}

.modal-content__custom1 {
    border-radius: 19px;
    background-color: var(--rojo-afp);
}

.modal-header__custom1 {
    justify-content: center;
    background-color: var(--rojo-afp);
    color: var(--blanco-afp);
    border-radius: 19px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    border: none;
}

.modal-header__custom2 {
    justify-content: center;
    background-color: var(--rojo-afp);
    border: 1px solid var(--rojo-afp);
    border-radius: 19px;
    color: var(--blanco-afp);
    text-align: center;
}

.btn-modal-custom1 {
    border:none;
    color: var(--rojo-afp);
    font-weight: 700;

}
.modal-body {
    margin: 0px 0px;
}

.modal-text1 {
    color: var(--blanco-afp);
}

.modal-body__custom1 {
    display: flex;
    flex-direction: column;
}

.btn-modal-group {
    margin:10px 0px;
}

.close {
    color: white;
}

.close:hover {
    color: var(--gris-afp);
}

.form-control-15 {
    margin: 5px;
    font-size: 16px;
    text-align: center;
    color: var(--blanco-afp);
    background-color: var(--rojo-afp);
    width: 25%;
    border: none;
    text-align: justify;
}

.form-control-cel {
    border-radius: 9px;
    border: none;
    padding: 0px 20px;
    height: 35px;
}

span.input-group-append > button{
    background-color: var(--blanco-afp);
}

.btn-constancia {
    border: 1px solid var(--blanco-afp);
    color: var(var(--blanco-afp))
}

a {
    color: #0c0c0c;
    text-decoration: none;
}
.multiselect-selected-text {
    color: #0c0c0c;
}

a.multiselect-all:hover {
    color: var(--rojo-afp);
}

label.checkbox:hover {
    color:var(--rojo-afp);
}

/*============================================================================================ */
/*                                                                                             */
/*                                     5c. Gestiones                                           */
/*                                                                                             */
/* =========================================================================================== */

.form-control-9 {
    width: 80%;
    padding: 0.375rem 1.75rem;
    font-size: 1rem;
    border-radius: 9px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: var(--gris-afp);
    border: 2px solid var(--rojo-afp);
}

.form-control-10 {
    width: 100%;
    padding: 0.375rem 1.75rem;
    font-size: 1rem;
    border-radius: 9px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: var(--gris-afp);
    border: 2px solid var(--gris-afp);
}

.gestion-button {
    margin-top: 20px;
}


.gestiones-container {
    border-radius: 19px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.gestiones-row {
    padding: 0px 100px;
}

.client-boxb {
    padding: 0px 10px;
    margin-left: 90px;
} 

.form-control-6b {
    width: 91%;
    padding: 0.375rem 1.75rem;
    font-size: 1rem;
    border-radius: 9px;
    color: var(--rojo-afp);
    border: 2px solid var(--rojo-afp);
}

.input-userinfo-icon3 {
    background-color: var(--rojob-afp);
    border: 1px solid var(--rojob-afp);
}

.tab-gestiones {
    border-radius: 19px;
    height: 520px;
}

.table-container-gestiones {
    width: 100%;
    padding: 20px 110px 20px 110px;
}

.table-gestiones {
    margin: 0px 10px;
}

.form-control-11 {
    width: 30%;
    border: none;
    color: var(--gris-afp);
}

.form-control-12 {
    margin-left: 10px;
    width: 20%;
    border: none;
    color: var(--gris-afp);
    font-size: 12px;
}

.btn-gestiones {
    font-size: 22px;
    margin-left: 50px;
    padding-left: 50px;
}

i.fa-custom-2 {
    color: var(--gris-afp);
    margin-right: 10px;
}

i.fa-custom-2:hover {
    color: var(--rojo-afp);
}

/* =========================================================================================== */
/*                                                                                             */
/*                                5d. Detalles-Gestiones                                       */
/*                                                                                             */
/* =========================================================================================== */

.custom-card {
    margin: 100px 200px 25px 200px;
}

.card-header{
    background-color: #fff;
    border: none;
}

.form-control-12b {
    margin-left: 5px;
    width: 28%;
    border: none;
    color: var(--gris-afp);
    font-size: 12px;
}

input.form-control-13 {
    margin-right: 125px;
}

.form-control-13 {
    font-size: 36px;
    text-align: center;    
    color: var(--gris-afp);
    width: 100%;
    border: none;
}

.form-control-14 {
    font-size: 16px;
    text-align: center;
    color: var(--gris-afp);
    width: 95%;
    border: none;
    text-align: justify;
}

hr.horizontal-border1 {
    border-top: 2px solid var(--rojo-afp);
    width: 30%;
    margin-top: 5px;
    margin-left: 65px;
}

.detalles-card {
    color: var(--gris-afp);
    margin:0px 50px;
}

.btn-customcolor-1 {
    border: 1px solid var(--gris-afp);
    color: var(--gris-afp)
}

.btn-customcolor-2 {
    border: 1px solid var(--gris-afp);
    color: var(--gris-afp);
}

.btn-customcolor-2:hover {
    border: 1px solid var(--rojo-afp);
    color: var(--rojo-afp);
}

i.fa-custom-1 {
    color: var(--gris-afp);
    margin-right: 10px;
}

i.fa-custom-1:hover {
     color: var(--rojo-afp);
}


/* =========================================================================================== */
/*                                                                                             */
/*                                        6.-FOOTER                                            */
/*                                                                                             */
/* =========================================================================================== */

.footer-text {
    color: #fff;
    font-size: 24px;
    margin: 0px 0px;
}


/* =========================================================================================== */
/*                                                                                             */
/*                                   7.-Media Queries                                          */
/*                                                                                             */
/* =========================================================================================== */

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1366px) and (max-width: 1439px) {}

@media (min-width: 1280px) and (max-width: 1439px) {}

@media (min-width: 1024px) and (max-width: 1279px) {

    /* =========================================================================================== */
    /*                                                                                             */
    /*                                     2.-HEADER                                               */
    /*                                                                                             */
    /* =========================================================================================== */

    .header-index {
        height: 90px;
    }

    .header-index img,
    .header img {
        width: 35%;
    }

    .headerb img {
        width: 35%;
    }
  
    /* =========================================================================================== */
    /*                                                                                             */
    /*                                     3.-LAYOUT                                               */
    /*                                                                                             */
    /* =========================================================================================== */

    .wrapper {
        height: 768px;
    }

    .main-content {
        height: 618px;
    }

    .footer {
        height: 60px;
    }

    .side-nav,
    .side-navc,
    .info-2 {
        height: 500px;
    }

    .info-1 {
        height: 600px;
        padding: 50px;
    }

    .info-2 {
        padding: 30px;
    }

    .info-3 {
        height: 600px;
    }

    .info-4 {
        height: 600px;
        
    }

    .side-navb {
        height: 650px;
    }

    .headerb,
    .footerb {
        height: 60px;
    }

    /* =========================================================================================== */
    /*                                                                                             */
    /*                               4a.-Content / Sidenav - Index                                 */
    /*                                                                                             */
    /* =========================================================================================== */

    .side-nav--logo img {
        margin: 10px 5px;
        padding: 0;
    }

    .navbar {
        margin: 0;
        padding: 0;
    }

    .side-nav--list li {
        font-size: 22px;
        list-style: none;
        padding: 5px 0px;
    }

    .side-nav--list a {
        text-decoration: none;
        color: var(--gris-afp);
    }

    /*.side-nav--list a:hover {
    font-weight: bold;
    }*/

    .active-nav {
        box-shadow: 0px 24px 10px -24px rgba(0, 0, 0, 0.50);
        font-weight: bold;
    }

    ul#menu {
        padding: 0px 20px;
    }

    /* =========================================================================================== */
    /*                                                                                             */
    /*                                4b.-Content / Sidenav - Home                                 */
    /*                                                                                             */
    /* =========================================================================================== */

    .side-nav--logo2 {
        margin: 20px 0px 10px 65px;
        padding: 0;
        width: 45%;
    }

    .side-nav--list2 li {
        font-size: 18px;
        list-style: none;
        padding: 5px 0px;
    }

    .exchange-text p {
        margin-left: 5px;
        margin-bottom: 0px;
        font-size: 12px;
    }

    .exchangeb img {
        width: 85%;
        
        margin-right: 5px;
    }

    .exchange-container {
        display: flex;
        flex-direction: row;
    }

    .form-control-3 {
        font-size: 10px;
        width: 35px;
    }

    /* =========================================================================================== */
    /*                                                                                             */
    /*           4c.-Content / Sidenav - InfoClients + Resumen+ Gestiones + Para Ventas            */
    /*                                                                                             */
    /* =========================================================================================== */

    .side-navb {
        padding: 35px;
    }

    .side-navb--logo {
        margin: 10px 0px 0px 20px;
        padding: 10px;
        width: 60%;
    }

    .side-navb--list li {
        font-size: 14px;
        list-style: none;
        padding: 10px 0px;
        text-align: center;
        margin:0px 0px 0px -30px;
    }

    hr.sidenav-c {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1.5px solid var(--rojob-afp);
        margin: 10px 0;
        padding: 0;
    }

    .clients-menu {
        height: 320px;
        width: 88px;
        margin: 130px 0px 130px -38px;
    }


    /* =========================================================================================== */
    /*                                                                                             */
    /*                            4d.-Content / Middle-StartCarousel                               */
    /*                                                                                             */
    /* =========================================================================================== */

    .p-box0 {
        font-size: 24px;
        color: var(--blanco-afp);
        margin: 40px 0px;
    }

     /* =========================================================================================== */
     /*                                                                                             */
     /*                            4e.-Content / MiddleUserInfo                                     */
     /*                                                                                             */
     /* =========================================================================================== */
     .p-box3 {
         margin: 50px 10px 40px 10px;
     }

     .form-control-4 {
         width: 230px;
         border-radius: 9px;
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
         padding: 0.375rem 0.75rem;
     }

     .info-1--lowres {
         padding: 0px 30px;
     }

     .usergroup {
         margin: 140px 5px;
     }

    /* =========================================================================================== */
    /*                                                                                             */
    /*                            4f.-Content / RightLoginPanel                                    */
    /*                                                                                             */
    /* =========================================================================================== */
    .p-box2 {
        margin: 18px 10px;
        color: var(--gris-afp);
    }

    .form-control-customwidth {
        width: 310px;
    }
    .btn-circle.btn-xl {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 18px;
        line-height: 1.33;
        margin: 0px 260px;
        background-color: var(--gris-afp);
        border-color: var(--gris-afp);
    }

    .btn-circle.btn-xl:hover {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 18px;
        line-height: 1.33;
        background-color: var(--rojo-afp);
        border-color: var(--rojo-afp);
    }

    .logintitle {
        margin-top: 30px;
    }

   

    /* =========================================================================================== */
    /*                                                                                             */
    /*                            4g.-Content / RightSearchClient                                  */
    /*                                                                                             */
    /* =========================================================================================== */


    .p-box4 {
        color: var(--rojo-afp);
        margin: 70px 0px 30px 0px;
    }



    /* =========================================================================================== */
    /*                                                                                             */
    /*                                4h.-Formularios / Index y Home                               */
    /*                                                                                             */
    /* =========================================================================================== */
    .collap-title-header-b {
        font-size: 32px;
        color: var(--rojo-afp);
        margin: 10px 61px;
    }

    .collap-title-header-c {
        font-size: 32px;
        color: var(--rojo-afp);
        margin: 10px 65px;
    }

    .collap-title-header-d {
        font-size: 32px;
        color: var(--rojo-afp);
        margin: 10px 60px;
    }

    

    .forms-menu {
        background-color: var(--rojo-afp);
        height: 250px;
        border-radius: 19px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 5px;
        margin: 40px 0;
    }

    .forms-menu img {
        width: 80%;
        margin: 35px 5px;
    }

    .forms-menu p {
        color: var(--blanco-afp);
        font-size: 11px;
        margin: 5px 0px;
        margin-top: -25px;
        text-align: center;
        font-weight: bold;
    }

    /* =========================================================================================== */
    /*                                                                                             */
    /*                                4i.-Formularios / Logged                                     */
    /*                                                                                             */
    /* =========================================================================================== */

    .collap-title-header-e {
        font-size: 32px;
        color: var(--rojo-afp);
        margin: 20px 105px;
    }

    .collap-title-header-f {
        font-size: 32px;
        color: var(--rojo-afp);
        margin: 20px 100px;
    }

    .forms-menu-b {
        height: 200px;
        width: 60px;
        padding: 5px;
        margin: 50px 0;
    }

    .forms-menu-b img {
        width: 60%;
        margin: 25px 12px;
    }

    .forms-menu-b p {
        color: var(--blanco-afp);
        font-size: 10px;
        margin: 10px 0px;
        margin-top: -20px;
        text-align: center;
        font-weight: bold;
    }

    .sidenav-forms-b {
        padding-left: 5px;
    }
    


    /* =========================================================================================== */
    /*                                                                                             */
    /*                            4j.-Para Ventas / Index y Home                                   */
    /*                                                                                             */
    /* =========================================================================================== */

    .collap-title-header-h {
        font-size: 36px;
        color: var(--rojo-afp);
        margin: 10px 135px;
    }

    /* =========================================================================================== */
    /*                                                                                             */
    /*                               4k.-Para Ventas / Logged                                      */
    /*                                                                                             */
    /* =========================================================================================== */

    .collap-title-header-g {
        font-size: 32px;
        color: var(--rojo-afp);
        margin: 10px 220px;
    }

    .ventas-container-logged {
        height: 680px;
        border-radius: 19px;
        padding: 0px;
    }

    /* =========================================================================================== */
    /*                                                                                             */
    /*                          4l.-Nuevo Cliente / Index y Home                                   */
    /*                                                                                             */
    /* =========================================================================================== */


    .collap-title-header-i {
        font-size: 36px;
        color: var(--rojo-afp);
        margin: 0px 40px;
        height: 100px;
    }

    .btn-cliente {
        background: var(--rojo-afp);
        color: var(--blanco-afp);
        margin: 0px 250px;
    }

    /* =========================================================================================== */
    /*                                                                                             */
    /*                                   5a.-Info-Cliente                                          */
    /*                                                                                             */
    /* =========================================================================================== */

    .infoclient-container {
        padding: 0px 0px 0px 0px;
    }

    .infoclient-input {
        padding: 10px 50px 20px 0px;
        margin: 0px 0px;
    }

    .p-box5 {
        margin: 20px 0px 10px 0px;
        font-size: 22px;
    }

    .iconset-reduser {
        margin-top: 10px;
        margin-right: 10px;
    }

    .form-control-6 {
        width: 100%;
        padding: 0.375rem 1.75rem;
        font-size: 1.2rem;
    }

    .client-box2 {
        margin-left: 60px;
    }



    
}