
/* aplicando font-family Neo Sans */
@font-face {
  font-family: 'Neo_Sans';
  src: url("NeoSan.ttf") format("truetype");
}

/* CONTENEDOR PRINCIPAL DEL TODO EL SPINNER */
.spinner-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(12, 5, 5, .25); /* COLOR DEL OVERLAY DE SPINNER */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
   position: fixed;
   z-index: 99999;
  overflow: hidden;
}

/*  */
.spinner-container .spinner-main {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* pseudo elemento qur girara en forma de spinner */
.spinner-container .spinner-main::before {
  content: "";
  width: inherit;
  position: absolute;
  height: inherit;
  border: 6px solid transparent;
  border-radius: 50%;
  border-top-color: #fff;
  -webkit-animation: rotate 1.8s infinite linear;
          animation: rotate 1.8s infinite linear;
}

/* ANIMACION PARA ROTAR EL SPINNER */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* contenido del spinner, Isotipo de B.A */
.spinner-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  width: 156px;
  height: 156px;
  position: absolute;
  background-color: #c90b2b;
  border-radius: 50%;
  border: 7px solid #e30e31;
  /* box-shadow: inset 0px 0px 0px 6px #e30e31; */
}

/* tamanio del contenedor del isotipo. Que tan grande o pequenio se vera el isotipo */
.spinner-second .spinner-content {
  position: absolute;
  width: 80px;
  height: 80px;
  
}
/* estilos para el isotipo de B.A, se aplica animacion y se establece el tamanio que hereda de su padre */
.spinner-second .spinner-content .spinner-logo {
  width: 100%;
  height: 100%;
  fill: #fff;
  -webkit-animation: ggrow-anim 1s infinite linear alternate;
  animation: grow-anim 1s infinite linear alternate; /* AGREGAR ANIMACION AL ISOTIPO */
}

/* ANIMACION PARA EL ISOTIPO DE BA, ZOOMIN-ZOOMOUT Y TRANSICION DE COLOR */
@keyframes grow-anim {
  0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      fill: #ad0a26;
  }
  100% {
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
      fill: #fff;
  }
}

/* ESTILOS PARA EL TEXTO DEL SPINNER */
.spinner-text {
  font-family: 'Neo_Sans';
  font-size: 1rem;
  letter-spacing: 0;
  color: #fff;
  position: absolute;
  top: 50%;
  margin: 6rem 0 0;
  z-index: 2;
  -webkit-animation: text 1s infinite linear alternate; 
  animation: text 1s infinite linear alternate;
}

/* ANIMACION zoomIn-zoomOut PARA TEXT DE CARGANDO 2ND STYLE, ESTILO OCB */
@-webkit-keyframes zommText {
  0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      color: #ad0a26;
  }
  100% {
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
      color: #fff;
  }
}

/* ANIMACION top-bottom PARA EL TEXTO */
@-webkit-keyframes text {
  100% {
    top: 51%;
  }
}
@keyframes text {
  100% {
    top: 51%;
  }
}
