<!--AQUI PODES CARGAR ESTILOS SOLO PARA ESTE VIEW-->
<!--<link rel="stylesheet" href="#!">-->

<!--Panel #1: Medio-->
<div id="Middle-ClientInfo" class=" info-4">

    <div class="row" style="height: 750px; border-radius: 19px;">

        <!--INICIO CONTENEDOR INFORMACION DEL CLIENTE-->
        <div class="col-12 infoclient-container">
            <!--INICIO TITULO-->
            <p class="text-center p-box6 neo-700">Resumen de Productos y Servicios</p>
            <!--FIN TITULO-->

            <div class="table-container">
                <table class="table table-wrapper table-borderless">
                    <thead class="table__thead">
                    <tr>
                        <th></th>
                        <th>Cuenta</th>
                        <th>Producto</th>
                        <th>Saldo</th>
                        <th>Cta. Colectiva</th>
                        <th>Medio</th>
                        <th>Estado de Cta.</th>
                        <th>Constancia</th>
                        <th>Expendiente</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody class="table__tbody">

                    <tr class="table-row neo-700">

                        <td class="table-row__td ">
                            <div class="table-row__Numero">
                                <p class="">1</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>

                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/estado-cuenta.png" alt="">
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/constancia.png" alt="">
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/expediente.png" alt="">
                            </div>
                        </td>

                         <!--DROPDOWB-->
                         <td class="table-row__Numero">
                             <!-- Example single danger button -->
                             <div class="btn-group">
                                 <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                     aria-expanded="false">
                                     <i class="fa fa-ellipsis-v" style="color: darkgrey;"></i>
                                 </a>
                                 <div class="dropdown-menu">
                                     <a class="dropdown-item" href="#">Action</a>
                                     <a class="dropdown-item" href="#">Another action</a>
                                     <a class="dropdown-item" href="#">Something else here</a>
                                     <div class="dropdown-divider"></div>
                                     <a class="dropdown-item" href="#">Separated link</a>
                                 </div>
                             </div>
                         </td>


                    </tr>


                    <tr class="table-row neo-700">

                        <td class="table-row__td">
                            <div class="table-row__Numero">
                                <p class="">2</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>

                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/estado-cuenta.png" alt="">
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/constancia.png" alt="">
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/expediente.png" alt="">
                            </div>
                        </td>

                        <!--DROPDOWB-->
                        <td class="table-row__Numero">
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" style="color: darkgrey;"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </td>


                    </tr>

                    <tr class="table-row neo-700">

                        <td class="table-row__td">
                            <div class="table-row__Numero">
                                <p class="">3</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>

                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/estado-cuenta.png" alt="">
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/constancia.png" alt="">
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/expediente.png" alt="">
                            </div>
                        </td>

                        <!--DROPDOWB-->
                        <td class="table-row__Numero">
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" style="color: darkgrey;"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </td>


                    </tr>

                    <tr class="table-row neo-700">

                        <td class="table-row__td">
                            <div class="table-row__Numero">
                                <p class="">4</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>

                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__name neo-500">
                                <p class="">Lorem</p>
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/estado-cuenta.png" alt="">
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/constancia.png" alt="">
                            </div>
                        </td>

                        <td class="table-row__td ">
                            <div class="table-row__icon neo-500">
                                <img src="../images/expediente.png" alt="">
                            </div>
                        </td>

                        <!--DROPDOWB-->
                        <td class="table-row__Numero">
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" style="color: darkgrey;"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </td>


                    </tr>


                    </tbody>


                </table>

                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active-1"><a class="page-link" href="#">1</a></li>
                        <li class="page-item ">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

          

            

        </div>
        <!--FIN CONTENEDOR INFORMACION DEL CLIENTE-->


    </div>


</div>


<!--AQUI PODES CARGAR SCRIPTS SOLO PARA ESTE VIEW-->

<!--<script>
    $.getScript("../../js/admin/push-notifications/get-lasted-notifications.js");
</script>-->
